.agent.form-container {
  padding: 0 20px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to top,
    #edf1f4,
    #e1ebf5,
    #edf1f4,
    #e1ebf5,
    #edf1f4,
    #e1ebf5,
    #edf1f4,
    #e1ebf5,
    #94b7fb
  );
}

/* Styling for the heading */
.agent .gradient-text {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgba(24, 23, 24, 0.973),
    rgba(33, 38, 39, 0.973)
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.agent .signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.agent input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 20px;
}

.agent .phone-input {
  display: flex;
  gap: 30px;
}

.agent textarea,
.phone-input input {
  width: 100%;
}

.agent .styled-button {
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(135deg, #0066cc, #003d99);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.agent .styled-button:hover {
  background: linear-gradient(135deg, #0056b3, #003080);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.styled-button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.required {
  color: red;
}

.agent select {
  appearance: none;
  width: 50% !important;
  padding: 8px;
  font-size: 1p7x;
}

.custom-select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #333;
}
