.question p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding: 50px 8px;
  box-shadow: 0px 20px 50px -10px #00000026;
  background-color: #ffffff;
  margin-bottom: 1em;
  border-radius: 8px;
}
.question {
  margin-top: 20px;
}
.chooses {
  padding: 8px;
}
